/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  font-family: sans-serif, arial, helvetica;
}

input:not([type="checkbox"], [type="radio"], [data-input="date"]),
select,
textarea {
  width: 100%;
  border: none;
  padding: 15px 15px 8px 15px;
  border-radius: 2px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

textarea {
  min-height: 140px;
}

select {
  cursor: pointer;
}

h3 {
  font-weight: 300;
  padding-bottom: 15px;
  margin: 0;
}

p {
  font-size: 14px;
}

.tooltip.tooltiptext {
  position: absolute;
  right: 0;
  bottom: 0;
  .mat-icon {
    color: #a71212;
    font-size: 20px;
  }
  span {
    visibility: hidden;
    width: 180px;
    background-color: #a71212;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    font-size: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    text-transform: initial;
  }
}

.tooltip:hover span {
  visibility: visible;
}

.required {
  &:before {
    content: "*";
    position: absolute;
    right: 4px;
    top: 2px;
    color: #a71212;
  }
}
.alert {
  padding: 20px;
  background-color: #a71212;
  color: white;
  margin: 20px 20px 0 20px;
}
